#canvas-basic {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.cltext{ position: absolute;
z-index: 10; font-size: x-large;
padding-left: 10px;
}

.perevod{
padding: 8px;
font-size: 16px; 
border-radius: 30px;
background-color: transparent; 
border-color: yellow;
}    
.autoprknp{ 
background: transparent;
cursor: pointer;
padding: 2px;
border: 1px solid rgb(224, 57, 57);
border-radius: 1rem;
}
.autoprknp:hover{
color: rgb(7, 84, 22);
}
*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
